html{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1533984899405-a7d715bac484?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}